
h1{
    color: brown;
justify-content: center;
    padding: 50px;
background-color: lightcoral;


}
.container{
    background-image: url("backen.jpg");
    opacity: 1;

}

img{

     justify-content: start;
    flex-direction: column;

}
.dropdown {

    margin: 200px;
    justify-content: flex-start;
    backdrop-filter: blur();

}
.btn-group > .btn:first-child{
    background-color: aliceblue;
    color: brown;
}
a {
    color: brown;
}
